&share
 wrf_core = 'ARW',
 max_dom = @MAX_DOM@,
 start_date = @START_DATES@,
 end_date   = @END_DATES@,
 interval_seconds = @INTERVAL_SECONDS@,
 io_form_geogrid = 2,
/

&geogrid
 parent_id         = @PARENT_IDS@,
 parent_grid_ratio = @PARENT_GRID_RATIOS@,
 i_parent_start    = @I_PARENT_STARTS@,
 j_parent_start    = @J_PARENT_STARTS@,
 e_we              = @E_WES@,
 e_sn              = @E_SNS@,
 geog_data_res     = @GEOG_DATA_RESOLUTIONS@,
 dx = @DX@,
 dy = @DY@,
 map_proj = '@MAP_PROJECTION@',
 ref_lat   = @REF_LAT@,
 ref_lon   = @REF_LON@,
 truelat1  = @TRUELAT1@,
 truelat2  = @TRUELAT2@,
 stand_lon = @STAND_LON@,
 geog_data_path = '@GEOG_DATA_PATH@',
/

&ungrib
 out_format = 'WPS',
 prefix = 'ERA5',
/

&metgrid
 fg_name = 'ERA5',
 io_form_metgrid = 2,
/
