&time_control
 run_days                            = @RUN_DAYS@,
 run_hours                           = @RUN_HOURS@,
 run_minutes                         = @RUN_MINUTES@,
 run_seconds                         = @RUN_SECONDS@,
 start_year                          = @START_YEARS@,
 start_month                         = @START_MONTHS@,
 start_day                           = @START_DAYS@,
 start_hour                          = @START_HOURS@,
 end_year                            = @END_YEARS@,
 end_month                           = @END_MONTHS@,
 end_day                             = @END_DAYS@,
 end_hour                            = @END_HOURS@,
 interval_seconds                    = @INTERVAL_SECONDS@,
 input_from_file                     = @INPUT_FROM_FILE@,
@TIME_CONTROL_OPTIONS@
/

&domains
 max_dom                             = @MAX_DOM@,
 e_we                                = @E_WES@,
 e_sn                                = @E_SNS@,
 e_vert                              = @E_VERTS@,
 num_metgrid_levels                  = @NUM_METGRID_LEVELS@,
 dx                                  = @DXS@,
 dy                                  = @DYS@,
 grid_id                             = @GRID_IDS@,
 parent_id                           = @PARENT_IDS@,
 i_parent_start                      = @I_PARENT_STARTS@,
 j_parent_start                      = @J_PARENT_STARTS@,
 parent_grid_ratio                   = @PARENT_GRID_RATIOS@,
 parent_time_step_ratio              = @PARENT_TIME_STEP_RATIOS@,
@VERTICAL_GRID_OPTIONS@
@DOMAIN_OPTIONS@
/

&physics
 ! Demonstration profile: inspect and adapt these choices for research use.
@PHYSICS_OPTIONS@
/

&fdda
/

&dynamics
@DYNAMICS_OPTIONS@
/

&bdy_control
 spec_bdy_width                      = 5,
 specified                           = @SPECIFIED@,
 nested                              = @NESTED@,
/

&grib2
/

&namelist_quilt
 nio_tasks_per_group = 0,
 nio_groups = 1,
/
