&share
 wrf_core = 'ARW',
 max_dom = 1,
 start_date = '@START_DATE@',
 end_date   = '@END_DATE@',
 interval_seconds = @INTERVAL_SECONDS@,
 io_form_geogrid = 2,
/

&geogrid
 parent_id         = 1,
 parent_grid_ratio = 1,
 i_parent_start    = 1,
 j_parent_start    = 1,
 e_we              = @E_WE@,
 e_sn              = @E_SN@,
 geog_data_res     = '@GEOG_DATA_RES@',
 dx = @DX@,
 dy = @DY@,
 map_proj = 'lambert',
 ref_lat   = @REF_LAT@,
 ref_lon   = @REF_LON@,
 truelat1  = @TRUELAT1@,
 truelat2  = @TRUELAT2@,
 stand_lon = @STAND_LON@,
 geog_data_path = '@GEOG_DATA_PATH@',
/

&ungrib
 out_format = 'WPS',
 prefix = '@UNGRIB_PREFIX@',
/

&metgrid
 fg_name = 'PRES', 'SFC',
 io_form_metgrid = 2,
/
